<%- contentFor('body') %>

<div class="text-center">
    <h1 class="mb-4">Öğrenci Planlayıcı</h1>
    <p class="lead">Öğrencilerinizin haftalık ders programlarını kolayca yönetin.</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>Öğrenciler</h3>
                    <p>Öğrenci listesini görüntüleyin ve yönetin.</p>
                    <a href="/students" class="btn btn-primary">Öğrencileri Görüntüle</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Yeni Öğrenci</h3>
                    <p>Sisteme yeni bir öğrenci ekleyin.</p>
                    <a href="/students/new" class="btn btn-success">Öğrenci Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div> 